<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>BlogIt</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS link -->
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Favicon link -->
    <link
      rel="icon"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/google/263/desktop-computer_1f5a5.png"
    />

    <!-- Bootstrap link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <!-- Google fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    <!-- Fontawesome script -->
    <script
      src="https://kit.fontawesome.com/e701c60fc2.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-light navbar-expand-md bg-light py-2">
      <div class="container">
        <!-- Logo -->
        <a href="/" class="navbar-brand">Blogit!</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Nav bar items -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item mx-2">
              <a href="/" class="nav-link">HOME</a>
            </li>
            <li class="nav-item mx-2">
              <a href="/compose" class="nav-link">COMPOSE</a>
            </li>
            <li class="nav-item mx-2">
              <a href="/update" class="nav-link">UPDATE</a>
            </li>
            <li class="nav-item mx-2">
              <a href="/about" class="nav-link">ABOUT</a>
            </li>
            <li class="nav-item mx-2">
              <a href="/contact" class="nav-link">CONTACT</a>
            </li>
            <li class="nav-item mx-2">
              <a href="/subscribe" class="nav-link">SUBSCRIBE</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
