<%-include("partials/header")-%>
<div class="container">
    <h1 class="mb-4">Compose</h1>
    <form action="/compose" method="POST">
        <label for="titleInput" class="form-label">Title</label>
        <input type="text" class="form-control mb-4" name="titleInput" id="titleInput" placeholder="Your title..." autocomplete="off" autofocus>

        <label for="titleInput" class="form-label">Post</label>
        <textarea type="text" class="form-control mb-4" name="blogInput" id="blogInput" placeholder="Write your blog here..." autocomplete="off"></textarea>

        <label for="blogImage" class="form-label">URL to blog image</label>
        <input type="text" class="form-control mb-4" name="blogImage" id="blogImage" placeholder="URL to blog image..." autocomplete="off">

        <button type="submit" class="btn btn-outline-secondary">Publish your Blog!</button>
    </form>
</div>
<%-include("partials/footer")-%>