<%-include("partials/header")-%>

<div class="container">
<h1>Contact</h1>
<p>
    <%= contactContent %>
</p>
<p>
    
<a href="https://www.linkedin.com/in/natalija-stojanovska" target="_blank"> <i class="social-icon fab fa-linkedin" aria-hidden="true"></i></a>
<a href="https://gitlab.com/natalijastojanovska" target="_blank"><i class="social-icon fab fa-gitlab" aria-hidden="true"></i></a>
<a href="mailto:n.stojanovska00@gmail.com" target="_blank" method="post"><i class="social-icon fas fa-envelope" aria-hidden="true"></i></a>
</p>
</div>

<%-include("partials/footer")-%>