<%- include("partials/header") -%>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Uh oh!</h1>
          <p class="lead">There was a problem signing you up. Please try again or contact the developer!</p>
    </div>

    <form action="/failure" method="post">
        <button class="btn btn-outline-secondary" type="submit">Try Again</button>
      </form>
  </div>
<%- include("partials/footer") -%>