<%-include("partials/header")-%>

<div class="container">
<h1>What is BlogIt?</h1>
    <p>
        <%= homeStartingContent %>
            <a href="/compose">Get started!</a>
    </p>
    <a class="d-grid gap-2 pt-3 pb-4" href="/compose">
        <button class="btn btn-outline-secondary" type="button">
                Compose your own blog!
        </button>
    </a>
    <div>
    </div>
    <div class="container">
        <div class="row">
            <% posts.forEach(function(post){ %>
                <div class="col-lg-4 col-12 py-2 px-2">
                    <div class="card border-secondary mb-3">
                        <img src="<%= post.blogImage %>" class="card-img-top" alt="">
                        <div class="card-body container">
                                <div class="row p-0">
                                    <div>
                                        <h4 class="card-title text-start">
                                            <%= post.titleInput %>
                                        </h4>
                                    </div>
                                    <div>
                                        <p class="text-muted"><%= post.timeStamp %></p>
                                    </div>
                                </div>
                            <p class="card-text">
                                <%= post.blogInput.substring(0, 196) + "... " %>
                            </p>
                        </div>
                        <a href="/posts/<%= post.titleInput.replace(" ", " -")%>">
                            <div class="card-footer">
                                Read More
                            </div>
                        </a>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    
</div>
</div>
</body>
</html>