<%-include("partials/header")-%>

<link rel="stylesheet" href="/css/posts.css">
    <div class="container">
        <h1>
            <%= titleInput %>
        </h1>
        <div class="wrapperForBlogImage">
            <img src="<%= blogImage %>" alt="" class="blogImage">
        </div>
        <p class="postText">
            <%= blogInput %>
        </p>
    </div>
<%-include("partials/footer")-%>