<%-include("partials/header")-%>

<div class="container">
<main class="form-signin">
    <form action="/subscribe" class="form-signin" method="POST">

      <h1 class="h3 mb-3  fw-normal">Subscribe to my Newsletter!</h1>
  
        <input type="text" name="fName" class="form-control top" id="fname" placeholder="First Name" required autofocus autocomplete="off">
        
        <input type="text" name="lName" class="form-control middle" id="lname" placeholder="Last Name" required autocomplete="off">

        <input type="email" name="email" class="form-control bottom" id="email" placeholder="Email" required autocomplete="off">
  
      <button class="w-100 btn btn-outline-secondary" type="submit">Subscribe</button>
    </form>
</main>
</div>
<%-include("partials/footer")-%>