<%- include("partials/header") -%>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Thank You For Subscribing!</h1>
      <p class="lead"> Your subscription has been confrimed. You've been added to our list and will hear from us soon. </p>
    </div>
  </div>
<%- include("partials/footer") -%>