<%- include("partials/header") -%>
<div class="container">
<h1 class="mb-4">Update your blog</h1>
<form action="/update" method="POST">
    <label for="searchInput" class="form-label">Search blog to be updated by the title</label>
    <input type="text" class="form-control mb-4" name="searchInput" id="searchInput" placeholder="Search in lowercase..." required autofocus autocomplete="off">

    <label for="titleInput" class="form-label">New title</label>
    <input type="text" class="form-control mb-4" name="titleInput" id="titleInput" placeholder="Your title..." autocomplete="off">

    <label for="titleInput" class="form-label">Post</label>
    <textarea type="text" class="form-control mb-4" name="blogInput" id="blogInput" placeholder="Write your blog here..." autocomplete="off"></textarea>

    <label for="blogImage" class="form-label">New URL to blog image</label>
    <input type="text" class="form-control mb-4" name="blogImage" id="blogImage" placeholder="URL to blog image..." autocomplete="off">

    <button type="submit" class="btn btn-outline-secondary">Update your Blog!</button>
</form>
</div>
<%-include("partials/footer")-%>