

h1{
	font-family: "Josefin Sans";
	font-weight: 700;
}

h1:nth-child(1){
	margin-top: 5%;
}

body{
	text-align: center;
}

@media only screen and (max-width: 576px) {
	.text-muted{
		text-align: left;
	}
}

/* Navigation Bar */

.navbar{
	font-family: "Josefin Sans";
}

.navbar-brand{
	font-size: 2rem!important;
	font-style: italic;
}


/* Home page cards */

.card{
	transition: transform 0.15s;
}

.card:hover{
	transform: scale(1.02);
}

.card-img-top{
	height: 40vh;
	object-fit: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.card-title{
	font-family: "Josefin Sans";
}


/* Posting time */

.text-muted{
	text-align: right;
}

/* Anchor element */
a{
	text-decoration: none!important;
}


/* Footer */

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding-bottom:60px;
	background-color: #94D0CC;
}

.footer p {
	margin: 1rem auto auto auto;
	font-size: 12px;
    color: #fff;
}

.copy-right {
    margin-top: 30px;
}

/* Post page */

.postText{
	margin-top: 5%;
	font-family: 'Roboto', sans-serif;
}


/* Social media icons */

.social-icon {
    color: #94D0CC;
    font-size: 2rem;
    padding: 1% 1%;
    transition: all 0.2s ease-in-out;
}

.social-icon.fa-linkedin:hover {
    color: #94D0CC;
    transform: scale(1.5);
}

.social-icon.fa-gitlab:hover {
    color: #94D0CC;
    transform: scale(1.5);
}

.social-icon.fa-envelope:hover {
    color: #94D0CC;
    transform: scale(1.5);
}


/* Subscribe page */

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.top{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.middle{
	border-radius: 0%;
	margin-bottom: -1px;
}

.bottom {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}